@font-face {
	font-family: Raleway Regular;
	src: url(fonts/Raleway Regular.ttf);
}
@font-face {
	font-family: Raleway Light;
	src: url(fonts/Raleway Light.ttf;)
}
@font-face {
	font-family: Raleway ExtraBold;
	src: url(fonts/Raleway ExtraBold.ttf);
}
@font-face {
	font-family: Raleway Bold;
	src: url(fonts/Raleway Bold.ttf);
}
@font-face {
	font-family: Kievit Book Italic;
	src: url(fonts/Kievit Book Italic.ttf);
}
@font-face {
	font-family: Kievit Black;
	src: url(fonts/Kievit Black.ttf);
}
@font-face {
	font-family: Kievit Black Italic;
	src: url(fonts/Kievit Black Italic.ttf);
}
@font-face {
	font-family: DINMittelschriftStd;
	src: url(fonts/DINMittelschriftStd.otf);
}

@font-face {
	font-family: Raleway Semibold;
	src: url(fonts/Raleway Semibold.ttf);
}

body {
	margin: 0;
	padding: 0 0 0 80px;
	font-family: Raleway Regular;
}

.menu-button {
	position:fixed;
	margin-left: -80px; 
	z-index: 1;
	width: 80px;
	text-align: center;
}

input {
  display: none;
}

.menu-button label, .menu-button  ul, .menu-button  li{
	margin: 0;
	padding: 0;
}

.menu-button img {
	margin-top: 35px;
}


.menu-button p {
	width: 40px;
	line-height: 15px;
	margin:10px auto;
	color:#a3a3a3;
	font-family: Raleway ExtraBold;
	font-size: 11px;
	text-transform: uppercase;
}

.menu-button img:hover{
	box-shadow:0 0 8px  #00cc99;
	border-radius: 1px;
	background-color: rgba(0,204,153,0.5);
}

.menu-button p:hover{
	color: #00cc99;
}

.menu-button img:active{
	box-shadow: 0px 0px 15px 5px #00cc99;
	background-color: rgba(0,204,153,0.9);
	border-radius: 3px;
}

.menu-button p:active{
	box-shadow: inset  1px 1px 2px black;
	border-radius: 3px;
}



.menu-button ul {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	display: none;
	list-style: none;
	width: 180px;
	background: linear-gradient(to right, rgba(43, 43, 43, 0.7), 
		rgba(255, 224, 255, 0.7));
	border: 1px solid grey;
	border-radius: 3px;
}

.menu-button ul li{
	width: 140px;
	margin:10px 20px;
	text-align: center;
	box-shadow:2px 2px 5px  black;
	background-color: #00cc99;
	border-radius: 3px;
}

.menu-button ul li:hover{
	text-decoration: underline;

}
.menu-button ul li:active{
	box-shadow: inset  2px 2px 5px black;
}

.menu-button ul a{
	font-family: DINMittelschriftStd;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

#dropdown:checked ~ label {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border: none;
}

#dropdown:checked ~ ul {
  display: block;
}

#dropdown:checked ~ label p, #dropdown:checked ~ label img {
  display: none;
}

.menu {
	position: fixed;
	height: 100%;
	width: 80px;
	background-color: white;
	margin-left: -80px;
	text-align: center;
}

.menu ul {
	margin: 0 0 20px 0;
	padding: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.menu ul li {
	position: relative;
	list-style-type: none;
	height:130px;
	width: 80px;
	padding: 0;
	margin: 0;
}

.menu  a:hover p {
	color: #4c4c4c;
	text-decoration: underline;
}

.menu ul img {
	margin: auto;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.menu ul p {
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: 0% 50%;
	left: 50%;
	bottom: 10px;
	font-size: 12px;
	color: #bdbdbd;
}

.menu ul li:first-child p {
	bottom: 20px;
	}
.page-1{
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 900px;
}

.page-1 {
	background: linear-gradient(rgba(20, 24, 30, 0.7), 
		rgba(20, 24, 30, 0.7)),
	 url(img/img-background.jpg);
	background-size: cover;
}

.page-1>img {
	position: absolute;
	left: 3.93%;
	top: 5.13%;
}

.feedback-container {
	width:145px;
	position: absolute;
	top: 5.13%;
	right: 6.79%;
}

.feedback-container p{
	font-size: 17px;
	color: white;
	margin: 6px 0px;
	text-align: right;
	width: 145px;
	font-family: Raleway ExtraBold;
}

.feedback-container p:last-child {
	font-size: 11px;
	font-family: Raleway Semibold;
}

.central_txt_container{
	position: absolute;
	top: 27.56%;
	left: 3.93%;
	width:90%;
	max-width: 700px;
}

.central_txt_container h2{
	font-size: 21px;
	color: #00cc99;
	font-family: Raleway ExtraBold;
}

.central_txt_container p{
	font-size: 56px;
	color: white;
	margin-top: 0;
	font-family: Raleway ExtraBold;
}


.page-1 ul {
	padding: 0;
	position: absolute;
	left: 3.93%;
	bottom: 19.23%;
}
.page-1 li {
	display: inline-block;
	width: 240px;
	height: 60px;
	color: white;
	font-size: 15px;
	font-family: Raleway Semibold;
	border-bottom: 1px solid white;
	margin-right: 50px;
}

.slide-button {
	position: absolute;
	bottom: 0;
	right: 6.79%;
	width: 270px;
	height: 60px;
	background-color: #00cc99;
	max-width: 90%;
	text-decoration: none;
}

.slide-button p, img{
	display: inline-block;
	vertical-align: middle;
}

.slide-button img{
	margin: 15px 30px 15px 45px;
}

.slide-button p{
	color:white;
	font-size: 16px;
	font-family: Raleway ExtraBold;
}

.page-2 {
	display: flex;
}


.page-2_right_box, iframe  {
	width: 50%;
}

iframe {
	height: 100vh;
}

.page-2_right_box_container{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-2_right_box_container h2{
	font-family: Raleway ExtraBold;
	font-size: 48px;
	align-self:center;
}

.page-2_right_box_container p{
	font-size: 21px;
	text-align: center;
}

.page-2_right_box_container ul{
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 0;
	flex-wrap: wrap;
}

.page-2_right_box_container li{
	list-style: none;
	background-color: #f2f2f2;
	width: 255px;
	height: 200px;
}

.page-2_right_box_container img{
	padding: 30px 90px 0px 85px;
}

.page-2_right_box_container ul p{
	font-size: 16px;
}

main h2 {
	text-align: center;
	font-size: 48px;
	font-family: Raleway ExtraBold;
	margin: 20px auto;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1800px;
	margin: auto;
}

.flex-element_1, .flex-element_2{
	flex-basis: 50%;
	margin: 0;
	text-align: center;
}


.flex-element_2 {
	margin: 50px 0;
	font-size: 32px;
	color: #999999;
	font-family: Raleway Light;
}

.flex-element_1 span, .flex-element_2 span{
	color: #00cc99;
}

.flex-element_top{
	position: relative;
	width: 72%;
	margin: 0 auto;
}
.flex-element_1 p {
	max-width: 255px;
	margin: 20px auto;
	font-size: 18px;
}

.flex-element_top p{
	font-family: Raleway ExtraBold;
	text-transform: uppercase;
	font-size: 11px;
}


.slide-container {
	position: relative;
	width: 95%;
	margin: 0 auto;
}

#slides1, #slides2{
	position: relative;
	height: 400px;
	max-height: 80vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide1, .slide2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.slide1, .slide2{
	font-size: 40px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
	background-size: cover;
}

.slide1:nth-of-type(1){
	background-color: red;
  background-image: url('img/mount1.jpg');
}

.slide1:nth-of-type(2){
	background-color: orange;
  background-image: url('img/mount2.jpg');
}

.slide1:nth-of-type(3){
	background-color: green;
  background-image: url('img/mount3.jpg');
}

.slide2:nth-of-type(1){
	background-color: red;
  background-image: url('img/fish1.jpg');
}

.slide2:nth-of-type(2){
	background-color: orange;
  background-image: url('img/fish2.jpg');
}

.slide2:nth-of-type(3){
	background-color: green;
  background-image: url('img/fish3.jpg');
}



.controls{
	padding: 20px 0px;
	font-size: 20px;
	cursor: pointer;
	width: 60px;
	border: 1px solid white;
	background-color: white;
}

.controls:hover{
  background: #eee;
  color: #333;
}

.buttons{
  position: absolute;
  right: -60px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}


.vertical-text-1, .vertical-text-2 {
	position: absolute;
	margin: 0;
	color: #b3b3b3;
}

.vertical-text-1 {
	transform: rotate(-90deg);
	transform-origin: 0% 0%;
	top: 40px;
	left: -30px;
}

.vertical-text-2 {
	transform: rotate(-90deg);
	transform-origin: 100% 100%;
	bottom: 95px;
	right: -30px;
	width: 95px;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #303030;
}

.footer_flex_element h3 {
	font-family: Raleway ExtraBold;
	color: #a6a6a6;
	font-size: 12px;
}

.footer_flex_element p {
	font-family: Raleway Light;
	color: #fff;
	font-size: 21px;
}

@media all and (max-width: 1280px){
	.flex-element_1, .flex-element_2{
	flex-basis: 95%;
	}
	.flex-element_2{
		margin:20px auto 20px;
		order: -1;
		font-size: 24px;
	}
}

@media all and (max-width: 900px){
	body {
		padding-left: 50px;
	}
	.menu-button {
		margin-left: -50px;
		width: 50px;
	}
	.menu {
		width: 50px;
		margin-left: -50px;
	}
	.menu ul li{
		width: 50px;
	}

	.page-1 {
		min-height: 535px;
	}

	.central_txt_container{
		top:18%;
	}

	.central_txt_container p{
	font-size: 24px;
	max-width: 400px;
	}
	.page-1 ul {
		bottom: 10%;
		width: 50%;
	}
	.slide-button img{
		margin-right: 10px;
	}
	.page-2 {
		flex-wrap: wrap;
	}
	iframe {
		height:50vh;
		min-width: 200px;
	}
	.page-2_right_box, iframe{
		width: 100%;
	}

	.page-2_right_box_container h2{
	font-size: 24px;
	}
	main h2 {
	font-size: 24px;
	margin: 40px auto;
	}
	.footer_flex_element {
	flex-basis: 100%;
	}
}

@media all and (max-width: 300px){
	.page-1{
		min-height: 500px;
}
	.feedback-container p{
		font-size: 12px;
	}
	.central_txt_container p{
		font-size: 18px;
	}
	#slides1, #slides2{
		height: 200px;
	}
	.slide-button {
	height: 60px;
}
	.controls {
		padding: 5px 0px;
		width: 30px;
	}
	.buttons{
		right: -30px;
	}
}

@media all and (max-height: 355px){
	.menu ul li {
		height: 30px;
	}

	.menu ul li p {
		display: none;
	}
}

