/*Fonts*/
@font-face {
	font-family: Montserrat-Bold;
	src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: Montserrat-Medium;
	src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: Montserrat-ExtraBold;
	src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
	font-family: Montserrat-Regular;
	src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: PT Sans Caption Bold;
	src: url(fonts/PT Sans Caption Bold.ttf);
}
@font-face {
	font-family: PT Sans Caption;
	src: url(fonts/PT Sans Caption .ttf);
}
@font-face {
	font-family: Montserrat-Black;
	src: url(fonts/Montserrat-Black.ttf);
}
@font-face {
	font-family: Montserrat-SemiBold;
	src: url(fonts/Montserrat-SemiBold.ttf);
}

.html {
	margin: 0;
	padding: 0;
}
.page {
	margin: 0;
}
.link {
	text-decoration: none;
	color: #000;
}
.page__inner {
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
.header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-top: 15px;
	padding-bottom: 7px;
}
.menu {
	margin: 0;
	padding: 0;
}
.header__menu{
	padding-left: 120px;
}
.menu__item{
	display: inline-block;
	width: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-family: Montserrat-Bold;
	font-size: 14px;
	line-height: 30px;
}
.menu__item:hover{
	color: #f9a800;
}
.menu__item:active{
	color: #cc8b03;
}
.menu__item_vertical-line_gray{
	border-right: 1px solid #ccccff;
}
.request-a-call{
	font-size: 16px;
	text-align: right;
	padding: 5px;
}
.request-a-call__phone {
	font-family: Montserrat-Medium;
}
.request-a-call__text {
	font-family: Montserrat-Bold;
	color: #f5b530;
	margin: 0;
	line-height: 30px;
	margin-bottom: 5px;
}
.contacts {
	text-align: right;
	font-size: 14px;
	font-family: Montserrat-Medium;
	padding-bottom: 5px;
}
.contacts__e-mail-icon {
	padding-right: 10px;
}
.social-contacts__img {
	padding:10px 5px 0px 10px;
}
.company-description-block {
	width: 100%;
	height: 730px;
	max-width: 1920px;
	background: url('img/block_company-description.jpg')  no-repeat;
}
.company-description-block__header{
	display: flex;
	padding-left: 0;
	padding-right: 0;
}
.logo{
	flex-shrink: 0;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
.company-description-block__logo{
	background-color: #fff;
}
.company-description-block__logo-position{
	margin-top: -10px;
}
.form {
	width: 100%;
	position: relative;
	background: #216ba3;
	height: 60px;
}
.form__inner{
	position: relative;
}
.form__search{
	width: 85%;
	height: 35px;
	border-radius: 20px;
	margin: 12px 10% auto 5%;
}
.form__submit {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 15px;
	right: 10%;
	cursor: pointer;
	border-radius: 20px;
	background:url("img/search-icon.png") no-repeat ;
	background-position: center;
}
.input {
	border: none;
	outline: none;
	padding: 0 10px;
	box-sizing: border-box;
}
.company-description-block__content-box {
	color: #fff;
	text-align: center;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.company-description-block__title {
	font-family: Montserrat-ExtraBold;
	font-size: 30px;
}
.company-description-block__text {
	font-family: Montserrat-Regular;
	font-size: 18px;
}
.company-description-block__button {
	margin-top: 60px;
}
.button {
	font-family: PT Sans Caption Bold;
	border: none;
	outline: none;
	padding: 0;
}
.button:hover {
	cursor: pointer;
}
.button_size_normal {
	width: 320px;
	height: 60px;
	font-size: 18px;
}
.button_size_big {
	width: 415px;
	height: 70px;
	font-size: 20px;
}
.button_size_small {
	width: 155px;
	height: 40px;
	font-size: 14px;
}
.button_theme_yellow {
	background-color: #f5b530;
}
.button_theme_yellow:hover {
	background-color: #fbaa22;
}
.button_theme_yellow:active {
	box-shadow: inset 1px -1px 4px 1px rgba(0,0,0,0.4);
	background-color: #f9a416;
}
.catalog-of-machines, .catalog-best-deals{
	padding-top: 90px;
}
.title{
	font-family: Montserrat-Black;
	font-size: 36px;
	padding-left: 20px;
	position: relative;
}
.title__yellow-frame{
	height: 40px;
	width: 55px;
	border:3px solid #fac63a;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.catalog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.catalog-of-machines__item{
	width: 205px;
	height: 195px;
	border: 1px solid rgb(255,255,255,0);
	box-shadow: 0px 2px 3px gray;
	position: relative;
	padding: 20px;
	margin: 20px 20px;
	box-sizing: border-box;
}
.catalog-of-machines__item:hover{
	border: 1px solid #f5b530;
	box-shadow: none;
	color: #216ba3;
}
.catalog-of-machines__item:hover .catalog-of-machines__pic{
	filter: contrast(90%);
}
.catalog-of-machines__pic {
	width: 165px;
	height: 110px;
	background: url(img/minisamosvalu.png) center no-repeat;
	filter: contrast(1%)
}
.catalog__title{
	font-family: PT Sans Caption;
	font-size: 14px;
}
.catalog__title_f-w_bold{
	font-weight: 700;
}
.drop-down-menu{
	position: absolute;
	text-align: center;
	right: 15px;
	bottom: 5px;
	z-index: 2;
	font-size: 40px;
}
.catalog-of-machines__item:hover .drop-down-menu__list{
	display: block;
}
.drop-down-menu__list {
	display: none;
	width: 200px;
	padding: 5px 0 0;
	margin: 0;
	position: absolute;
	left:-157px;
	top: 40px;
	box-shadow: 0px 2px 5px gray;
	background-color: #f9f9f9;
	text-align: left;
}
.drop-down-menu__list-item:hover{
	background-color: #fbaa22;
}
.drop-down-menu__list-item {
	list-style: none;
	font-size: 16px;
	padding: 5px;
}
.catalog-best-deals__title-position{
	margin-bottom: 40px;
}
.catalog-best-deals__title{
	font-family: PT Sans Caption Bold;
	font-size: 18px;
}
.catalog-best-deals__title_clr_blue{
	color: #216ba3;
}
.catalog-best-deals__item{
	position: relative;
	width: 240px;
	height: 350px;
	border: 1px solid rgba(255,255,255,0);
	box-shadow: 0px 2px 3px gray;
	padding: 20px;
	margin: 20px 10px;
	box-sizing: border-box;
}
.catalog-best-deals__item:hover{
	transform: scale(1.05);
}
.star:before{
	content: "\2606";
	font-size: 24px;
}
.star_active:before{
	content: "\2605";;
	color: #f5b530;
}
.catalog-best-deals__pic{
	width: 200px;
	height: 140px;
	background: url(img/zemlesos.png) center no-repeat;
}
.catalog-best-deals__btn-position{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.catalog-best-deals__pagination-inner{
	text-align: center;
	margin: 100px auto 110px;
}
.pagination {
	display: inline-block;
}
.pagination__item{
	display: inline-block;
	min-width: 30px;
	height: 45px;
	padding-top: 15px;
	background-color: #216ba3;
	border: 1px solid #216ba3;
	font-family: PT Sans Caption Bold;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-right: -4px;
	box-sizing: border-box;
	position: relative;
}
.pagination__item:hover{
	border: 1px solid #f5b530;
}
.pagination__item_status_active{
	color: #000;
	z-index: 2;
}
.pagination__item_status_active:hover{
	border-color: #216ba3;
}
.pagination__item_status_active:after{
	content: url(img/paginator.png);
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -1;
}
.application-block{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 24px 24px 19px;
	margin: 0 auto;
	max-width: 1920px;
	background:  url('img/application-background.jpg') center no-repeat;
}
.application-block__frame{
	width: 100%;
	height: 100%;
	border: 2px dashed #f5b530;
}
.application-block__content{
	text-align: center;
}
.application-block__title{
	font-family: Montserrat-Black;
	font-size: 24px;
	color: #fff;
}
.application-block__subtitle{
	font-family: Montserrat-Medium;
	font-size: 20px;
	color: #f5b530;
}
.application-block__form{
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
}
.application-block__input{
	max-width: 320px;
	width: 30%;
	min-width: 180px;
	margin-right: 20px;
	height: 60px;
	font-family: Montserrat-Regular;
	font-size: 18px;
}
.application-block__button{
	width: 30%;
}
.news-block{
	padding-top: 100px;
	padding-bottom: 70px;
}
.news-block__inner{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.news-block__item{
	width: 340px;
	padding: 0 5px;
	box-sizing: border-box;
	padding-bottom: 30px;
}
.news-block__pic{
	float: left;
	width: 100%;
	max-width: 340px;
	height: 260px;
}
.news-block__publication-date{
	font-family: Montserrat-Regular;
	font-size: 14px;
}
.news-block__title{
	font-family: Montserrat-Bold;
	font-size: 18px;
	line-height: 1.2em;
	height: 2.4em;
	overflow: hidden;
	max-width: 300px;
}
.news-block__text{
	font-family: Montserrat-Regular;
	font-size: 14px;
	line-height: 1.2em;
	max-width: 840px;
}
.news-block__text_type_short{
	height: 4.8em;
	overflow: hidden;
}
.news-block__link {
	font-family: Montserrat-ExtraBold;
	font-size: 14px;
	color: #216ba3;
}
.subscription-block{
	width: 100%;
	max-width: 1980px;
	margin: 0 auto;
	background-color: #216ba3;
	padding: 15px 0;
}
.subscription-block__inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.subscription-block__item{
	min-width: 50%;
	display: flex;
	flex-wrap: nowrap;
	margin: 15px 0;
}
.subscription-block__img-inner{
	padding:3px 10px 0 0;
}
.big-e-mail-icon{
	
}
.subscription-block__text-inner{
	color: #fff;
	white-space: nowrap;
}
.subscription-block__text-lvl-1{
	font-family: Montserrat-Bold;
	font-size: 24px;
	margin: 0;
}
.subscription-block__text-lvl-2{
	font-family: Montserrat-Regular;
	font-size: 16px;
	margin: 0;
}
.subscription-block__input{
	width: 100%;
	max-width: 420px;
	height: 45px;
	margin: 0;

}
.subscription-block__button{
	width: 140px;
	height: 45px;
}
.company-description-section{
	background: url(img/description-section-bg.jpg) 50% 65% no-repeat;
	max-width: 1920px;
	padding: 75px 0;
}
.description-block{
	position: relative;
	max-width: 750px;
	background-color: #fff; 
	padding: 20px 13.33% 70px; 
	box-sizing: border-box;
}
.company-description-section__title{
	padding: 0 5px  0;
}
.company-description-section__frame{
	z-index: 1;
	width: 35px;
}
.description-block__text{
	font-family: Montserrat-Medium;
	font-size: 18px;
	max-width: 500px;
	line-height: 1.7em;
}
.triangle{
	position: absolute;
}
.triangle_type_v1{
	top: 0;
	right: 0;
	border-right: 80px solid #f5b530;
	border-bottom: 105px solid transparent;
}
.triangle_type_v2{
	left: 0;
	bottom: 0;
	border-bottom: 80px solid #f5b530;
	border-right: 105px solid transparent;
}
.footer {
	background-color: #000000;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 20px 0;
}
.footer__inner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color: #ffffff;
}
.footer__link{
	color:#fff;
}

/*---------------------Begin:Css for news.html----------------------*/
.navigation{
	font-family: Montserrat-Medium;
	font-size: 18px;
}
.news-block__navigation{
	margin-bottom: 100px;
}
.navigation__link{
	padding-right: 5px;
	display: inline-block;
	border-right: 1px solid black;
}
.navigation__text{
	color: #9b9b9b;
}
.news-box{
	height: 600px;
	overflow-y: scroll; 
}
.news-box__item{
	padding-top: 50px;
	min-height: 340px;
}
.news-box__img{
	margin-right: 20px;
}
/*---------------------End:Css for news.html------------------------*/

/*---------------------Begin:Css for product.html------------------*/
.card-product{
	padding-top: 100px;
	padding-bottom: 100px;
}
.card-product__box{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 100px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card-product__left-column, .card-product__right-column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-product__left-column{
	max-width: 475px;
	width: 100%;
	flex-shrink: 0;
}
.card-product__right-column{
	padding-left: 25px;
	max-width: 600px;
	box-sizing: border-box;
}
.avatar{
	width: 100%;
	padding: 10px 20px;
	box-shadow: 0px 2px 5px gray;
	box-sizing: border-box;
}
.avatar__title{
	font-family: Montserrat-Bold;
	font-size: 18px;
	margin: 0;
}
.avatar__title_clr_blue{
	color: #1e5980;
}
.avatar__pic{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.avatar__text{
	font-family: Montserrat-Medium;
	font-size: 12px;
	margin-bottom: 25px;
}
.images-box{
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
	flex-wrap: wrap;
}

.card-product__image-box{
	display: flex;
	width: 210px;
	height: 150px;
	margin-bottom: 35px;
	overflow: hidden;
}
.card-product__image{
	min-height: 100%;
	display: block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card-product__text{
	font-family: Montserrat-Medium;
	font-size: 18px;
	white-space: pre-wrap;
}
.card-product__contacts-text{
	font-family: Montserrat-Bold;
	font-size: 20px;
}
.card-product__link{
	color: #1e5980;
}
.card-product__sample-img{
	width: 100%;
}
.specification-block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: 0px 3px 5px gray;
	width: 100%;
	font-size: 18px;
	padding: 20px 5%;
}
.specification-block__item{
	min-width: 50%;
	list-style: none;
	min-height: 70px;
}
.specification-block__text{
	max-width: 100%;
	font-family: Montserrat-Regular;
	margin: 5px 0px;
}
.specification-block__letter{
	font-family: Montserrat-SemiBold;
}
/*---------------------End:Css for product.html--------------------*/

/*---------------------Begin:Css for contacts.html------------------*/
.contacts-block{
	padding-top: 100px;
	padding-bottom: 100px;
}
.contacts-block__navigation{
	padding-bottom: 100px;
}
.contacts-box{
	position: relative;
	max-width: 720px;
	box-shadow: 0px 3px 5px gray;
	padding: 30px 8% 20px;
	margin: 0 auto;
}
.contacts-block__logo-position{
	position: absolute;
	top:20px;
	right: 20px;
}
.contacts-box__title{
	font-family: Montserrat-Bold;
	font-size: 20px;
}
.contacts-box__text{
	font-family: Montserrat-Regular;
	font-size: 18px;
	max-width: 390px;
	white-space: pre-wrap;
}
.triangle_type_v3{
	top: 0;
	left: 0;
	border-top: 60px solid #f5b530;
	border-right: 60px solid transparent;
}
.triangle_type_v4{
	bottom: 0;
	right: 0;
	border-bottom: 60px solid #f5b530;
	border-left: 60px solid transparent;
}
.google-map{
	margin: 50px auto 0;
	width: 100%;
	max-width: 750px;
	height: 100vw;
	max-height: 450px;
}
/*---------------------End:Css for contacts.html--------------------*/
/*****************//*****************************/
{border: 1px solid #222;}



/*-------------------------Begin @media ----------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.header__menu{
		order: 1;
		padding-left: 0;
		width: 100%;
		text-align: center;
	}
	.footer__menu{
		order: -1;
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 767px){
	.menu{
		display: none;
	}
	.company-description-block__title {
		font-size: 24px;
	}
	.button_size_big {
		width: 90%;
	}
	.application-block__form{
		flex-direction: column;
		align-items: center;
	}
	.application-block__input, .application-block__button{
		width: 100%;
		max-width: 320px;
		margin: 5px auto;
	}
	.subscription-block__item:first-child{
		flex-direction: column;
		align-content: center;
	}
	.subscription-block__text-inner{
		white-space: normal;
	}
	.subscription-block__img-inner, .subscription-block__text-lvl-1, .subscription-block__text-lvl-2{
		text-align: center;
	}
	.description-block{
		padding-right: 30px;
		padding-left: 30px;
	}
	.description-block__text {
		font-size: 16px;
		line-height: 1.2em;
	}
/*-------------------------Begin:news.html-------------------------*/
	.news-box__img{
		float: none;
	}
}/*-------------------------Begin:news.html-------------------------*/
@media only screen and (max-width: 450px){
	.images-box{
		flex-direction: column;
		align-content: center;
	}
	.card-product__image-box{
		width: 100%;
		height: 60vw;
	}
}

/*------------------------End @media --------------------------*/
